<section class="flex flex-col items-center p-10 py-24">
	<p class="flex flex-col font-light text-4xl">
		<span>Tracking solutions for your every need.</span>
		<span>From boats to motorcycles. Even people.</span>
		<a class="w-[235px] flex font-bold underline" href="#"
			>Register now.
			<img class="mt-7" src="./click.svg" alt="" />
		</a>
	</p>
</section>
