<section
	class="flex flex-col items-center bg-[#001A2F] text-slate-400 p-10 py-24">
	<p>Demo site created for followme.mv</p>
	<p>This demo does not intend to infringe on any copyrights of followme.com</p>
	<p>My only intention is to provide a POC of an alternate UI</p>
	<p>
		This site does not include any features provided by followme.mv and only
		showcases the homepage
	</p>
	<p>created by r3dxm</p>
</section>
