<section class="flex flex-col items-center bg-[#001A2F] p-10 py-24">
	<h1 class="flex flex-col font-bold text-[56px] leading-tight text-white">
		Your instant tracking service.
	</h1>
	<div class="h-12 flex gap-5 mt-10">
		<input
			class="w-[450px] pl-5 rounded-xl focus:outline-none"
			type="text"
			placeholder="Search public vessels"
		/>
		<button
			class="w-[100px] rounded-xl text-white bg-[#005FAC] focus:outline-dotted"
			>Search</button
		>
	</div>
</section>
