<nav class="w-full flex h-14 shadow-md items-center justify-center px-5">
	<div class="max-w-[1000px] flex justify-between h-14 items-center">
		<ul class="flex w-full gap-5">
			<li>
				<a href="#">
					<h1 class="font-bold text-md mr-5">Followme</h1>
				</a>
			</li>
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Public vessels</a>
			</li>
			<li>
				<a href="#">Coverage</a>
			</li>
		</ul>
	</div>
	<button
		class="w-[100px] rounded-xl text-white bg-[#005FAC] focus:outline-dotted p-2 ml-[850px]"
		>Login</button
	>
</nav>
