<section class="flex justify-center gap-5 p-5 my-10 mt-0">
	<article class="w-[320px] flex flex-col gap-5 shadow-2xl rounded-lg p-5">
		<span
			class="w-[120px] flex items-center justify-center p-2 rounded-lg text-white bg-[#00AC9E]">
			<p>Personal Pro</p>
		</span>
		<h1 class="font-bold text-4xl">
			MVR 1800 <span class="font-normal text-sm">/ year</span>
		</h1>
		<ul class="flex flex-col gap-3">
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>Automatic trip logs</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>Public and private sharing</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>Instant notifications</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>Estimated time of arrival</p>
			</li>
			<li class="flex gap-5">
				<img src="./x.svg" alt="not included" />
				<p>Data sim</p>
			</li>
		</ul>
		<hr />
		<ul class="flex flex-col">
			<li class="flex gap-5 justify-between">
				<p>Location updates</p>
				<p>30 seconds</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Trace route</p>
				<p>1 month</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Trip logs</p>
				<p>6 months</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Maximum private sharing</p>
				<p>5 users</p>
			</li>
		</ul>
	</article>
	<article class="w-[320px] flex flex-col gap-5 shadow-2xl rounded-lg p-5">
		<span
			class="w-[120px] flex items-center justify-center p-2 rounded-lg text-white bg-[#00AC9E]">
			<p>Personal Plus</p>
		</span>
		<h1 class="font-bold text-4xl">
			MVR 2700 <span class="font-normal text-sm">/ year</span>
		</h1>
		<ul class="flex flex-col gap-3">
			<li class="flex gap-5">
				<p>Everything in Personal Pro +</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="not included" />
				<p>Data sim</p>
			</li>
		</ul>
		<hr class="mt-auto" />
		<ul class="flex flex-col">
			<li class="flex gap-5 justify-between">
				<p>Location updates</p>
				<p>30 seconds</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Trace route</p>
				<p>1 month</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Trip logs</p>
				<p>6 months</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Maximum private sharing</p>
				<p>5 users</p>
			</li>
		</ul>
	</article>
	<article class="w-[320px] flex flex-col gap-5 shadow-2xl rounded-lg p-5">
		<span
			class="w-[120px] flex items-center justify-center p-2 rounded-lg text-white bg-[#00AC9E]">
			<p>Business Plus</p>
		</span>
		<h1 class="font-bold text-4xl">
			MVR 3300 <span class="font-normal text-sm">/ year</span>
		</h1>
		<ul class="flex flex-col gap-3">
			<li class="flex gap-5">
				<p>Everything in Personal Plus +</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>Access to web portal</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>Over speed alerts</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>History route replay</p>
			</li>
		</ul>
		<hr class="mt-auto" />
		<ul class="flex flex-col">
			<li class="flex gap-5 justify-between">
				<p>Location updates</p>
				<p>30 seconds</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Trace route</p>
				<p>3 months</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Trip logs</p>
				<p>1 year</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Maximum private sharing</p>
				<p>10 users</p>
			</li>
		</ul>
	</article>
	<article class="w-[320px] flex flex-col gap-5 shadow-2xl rounded-lg p-5">
		<span
			class="w-[120px] flex items-center justify-center p-2 rounded-lg text-white bg-[#00AC9E]">
			<p>Premium Plus</p>
		</span>
		<h1 class="font-bold text-4xl">
			MVR 4900 <span class="font-normal text-sm">/ year</span>
		</h1>
		<ul class="flex flex-col gap-3">
			<li class="flex gap-5">
				<p>Everything in Business Plus +</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>Generate heatmap</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>Pre arrival alert</p>
			</li>
			<li class="flex gap-5">
				<img src="./check.svg" alt="check" />
				<p>Outsider boat logs</p>
			</li>
		</ul>
		<hr class="mt-auto" />
		<ul class="flex flex-col">
			<li class="flex gap-5 justify-between">
				<p>Location updates</p>
				<p>20 seconds</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Trace route</p>
				<p>6 months</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Trip logs</p>
				<p>2 years</p>
			</li>
			<li class="flex gap-5 justify-between">
				<p>Maximum private sharing</p>
				<p>Unlimited</p>
			</li>
		</ul>
	</article>
</section>
