<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Followme demo</title>
		<link rel="stylesheet" type="text/css" href="./build.css" />
	</head>
	<body
		class="[&::-webkit-scrollbar]:w-1
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  dark:[&::-webkit-scrollbar-track]:bg-neutral-300
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-700">
		<slot />
	</body>
</html>

<style>
	@font-face {
		font-family: "AfacadFlux";
		src: url("/public/fonts/AfacadFlux.ttf");
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "AfacadFlux", sans-serif;
	}
</style>
